 mat-list-item {
  margin: 10px
}

mat-list-item:nth-child(odd) {
  font-size: 14px;
  background: #EFEFEF;
}

.mat-list .mat-list-item .mat-line,
.mat-nav-list .mat-list-item .mat-line,
.mat-selection-list .mat-list-item .mat-line {
  overflow: visible;
  white-space: normal;
}

.mat-list .mat-list-item {
  height: auto;
  padding: 5px 0px 5px 0px;
}

.error {
  color: rgb(253, 5, 5);
}

.mat-checkbox-layout,
.mat-checkbox-label {
  margin: 10px 0px;
}

.spacer {
  flex: 1 auto;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  min-width: 0;
  width: 250px;
  
}

mat-toolbar-row .mat-form-field {
  margin-top: 20px !important;
}

input.mat-input-element {
  font-size: 14px;
}

.mat-form-field-label {
  display: block;
  color: #fff !important;
}